* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
  font-family: vasir-black,sans-serif;
  direction: rtl;
}

a {
  color: inherit;
  text-decoration: none;
}
@import url("./custom.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: vasir-m;
  src: url("/Fonts/Vazirmatn-Medium.woff2");
  font-display: block;
}
@font-face {
  font-family: vasir-black;
  src: url("/Fonts/Vazirmatn-Black.woff2");
  font-display: block;
}